@import url("./global.css");


main {
  max-width: 32rem;
}

.content {
  background-color: var(--clr-white);
  padding: var(--spacing-800);
  border-radius: 2.25rem;
}

.content > *+* {
  margin-block-start: var(--spacing-400);
}

.content a {
  text-decoration: none;
  background-color: var(--clr-blue-800);
  color: var(--clr-white);
  display: block;
  border-radius: 0.5rem;
  text-align: center;
  padding-block: 1rem;
}

.content h1 {
  max-inline-size: 15ch;
}

footer {
  color: var(--clr-white);
}