@import url("./global.css");

.content {
  min-height: 100vh;
  background-color: var(--clr-white);
  padding: 9rem var(--spacing-300) 4rem;
  
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.content img {
  align-self: flex-start;
}

.content a {
  text-decoration: none;
  background-color: var(--clr-blue-800);
  color: var(--clr-white);
  border-radius: 0.5rem;
  text-align: center;
  padding-block: 1rem;
  margin-top: auto;
}

.content a:hover {
  background: var(--clr-gradient);
  box-shadow: 0px 1rem 2rem rgba(255, 97, 85, 0.5);
}

.content h1 {
  max-inline-size: 15ch;
  color: var(--clr-blue-800);
  font-weight: 700;
  font-size: clamp(var(--text-1-mobile), 0.7609rem + 8.6957vw, var(--text-1));
}

.content p {
  line-height: 1.5;
  color: var(--clr-blue-800);
}

@media (min-width: 32rem) {
  .content {
    min-height: auto;
    display: block;
    max-width: 32rem;
    margin-inline: auto;
    border-radius: 2.25rem;
    padding: var(--spacing-800);
  }

  .content > * + * {
    margin-block-start: var(--spacing-400) !important;
  }

  .content a {
    display: block;
  }
}

